fastapi==0.115.0
uvicorn==0.32.0
sqlalchemy==2.0.36
psycopg2-binary==2.9.10
pydantic==2.9.2
email-validator==2.2.0
python-dotenv==1.0.1

fastapi
uvicorn
gunicorn==21.2.0

sqlalchemy
psycopg2-binary

python-dotenv
pydantic[email]
pydantic-settings

python-jose[cryptography]

passlib[argon2]
argon2-cffi